@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

h1 {
  @apply tw-text-2xl;
}
h2 {
  @apply tw-text-xl;
}
h3 {
  @apply tw-text-lg;
}
h4 {
  @apply tw-text-base;
}
h5 {
  @apply tw-text-sm;
}
h6 {
  @apply tw-text-xs;
}
a {
  @apply tw-text-sm;
  @apply tw-text-ocean-500;
  @apply tw-underline;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply tw-h-screen;
  @apply tw-bg-gray-200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  @apply tw-h-full;
  @apply tw-flex tw-flex-col;
}

